@import "tailwindcss";

@font-face {
  font-family: "nimbus";
  src: url("/fonts/nimbus-sans-tw01con.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "museo";
  src: url("/fonts/museo-slab-w01-100.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-gradient: radial-gradient(
      circle at 6.666666666666667% 9.000000158945719%,
      #018bc9 0%,
      8.7%,
      rgba(1, 139, 201, 0) 29%
    ),
    radial-gradient(
      circle at 90% 14.166666666666666%,
      rgba(1, 139, 201, 0.58) 0%,
      4.8%,
      rgba(1, 139, 201, 0) 16%
    ),
    radial-gradient(
      circle at 94.35384114583333% 89.61588541666666%,
      #2f2e2e 0%,
      20%,
      rgba(47, 46, 46, 0) 40%
    ),
    radial-gradient(
      circle at 6.503906249999999% 88.037109375%,
      rgba(47, 46, 46, 0.99) 0%,
      25%,
      rgba(47, 46, 46, 0) 50%
    ),
    radial-gradient(
      circle at 5.666666825612386% 12.833333810170492%,
      #800000 0%,
      42%,
      rgba(128, 0, 0, 0) 70%
    ),
    radial-gradient(
      circle at 93.6865234375% 11.42578125%,
      #00ffc5 0%,
      17.4%,
      rgba(0, 255, 197, 0) 29%
    ),
    radial-gradient(
      circle at 48.9013671875% 49.521484375%,
      #2f2e2e 0%,
      100%,
      rgba(47, 46, 46, 0) 100%
    );
    --shadowy: rgba(0, 0, 0, 0.498039) -1px -1px 0px, rgba(0, 0, 0, 0.498039) -1px 1px 0px, rgba(0, 0, 0, 0.498039) 1px 1px 0px, rgba(0, 0, 0, 0.498039) 1px -1px 0px
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Cabin", Arial, Helvetica, sans-serif;
}

.mobile-layout {
  max-width: 480px;
  margin: 0 auto;
  background-color: #f8f9fa;
  min-height: 100dvh;
  /* padding: 20px; */
}

.desktop-layout {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  min-height: 100dvh;
  padding: 40px;
}

/* styles/globals.css */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}


@media (max-width: 768px) {
  .desktop-only {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .mobile-only {
    display: none !important;
  }
}
